<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="content-language" content="en">
        <meta name="viewport" content="width:device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="style/style.css">
        <link rel="stylesheet" type="text/css" href="style/rtl-style.css">
        <link rel="stylesheet" type="text/css" href="style/colors.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
        <link rel="shortcut icon" href="../images/favicon.png">
        <title>Panel</title>
        <script src="javascripts/jquery.js" type="text/javascript"></script>
        <script src="javascripts/index.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
    </head>
    <body> 

        <header>
            <nav>
                <button class="menu"><i class="fas fa-bars"></i></button>
                <a class="messages" href="#"><i class="fas fa-envelope"></i> پیام ها <label>(5)</label></a>
                <a class="reports" href="#"><i class="fas fa-exclamation"></i> گزارشات <label>(6)</label></a>
            </nav>
        </header>


        <aside class="main-menu">
            <section class="logo">
                پنل<label> مدیریت</label>
                <button class="menu"><i class="fas fa-bars"></i></button>
            </section>
            <section class="user-details"> <span> <div><img src="images/user.png"><canvas id="user_progress_chart" width="100" height="100"></canvas></div> <label>NewFolder131111</label></span> </section>
            <script type="text/javascript">
                var ctx = document.getElementById("user_progress_chart");
                var myChart = new Chart(ctx,{
                    type: 'doughnut',
                    data: {
                        datasets: [{
                            data: [75, 25],
                            backgroundColor: [
                                'rgba(52, 109, 32, 1)',
                                'transparent'
                            ],
                            hoverBackgroundColor: [
                                'rgba(52, 109, 32, 1)',
                                'transparent'
                            ],
                            borderWidth: 0
                        }]
                    },
                    options: {
                        tooltips: {
                            enabled: false,
                        }
                    }
                });
            </script>
            <nav>
                <a href="index.html"><img src="images/icons/panel.png" class="menu-img"> داشبورد</a>

                <ul class="hasUL">
                    <li><img src="images/icons/profile.png" class="menu-img"> پروفایل<i class="fas fa-ellipsis-h"></i></li>
                    <ul>
                        <li><a href="edit_profile.html"><i class="far fa-edit"></i> ویرایش اطلاعات هویتی</a></li>
                        <li><a href="edit_financial.html"><i class="far fa-edit"></i> ویرایش اطلاعات مالی</a></li>
                        <li><a href="video_chat.html"><i class="fas fa-video"></i> مصاحبه تصویری</a></li>
                    </ul>
                </ul>

                <ul class="hasUL">
                    <li><img src="images/icons/webmoney.png" class="menu-img" style="width:15px;"> خدمات وب مانی <i class="fas fa-ellipsis-h"></i></li>
                    <ul>
                        <li><a href="wm_charge.html"><i class="far fa-credit-card"></i> شارژ حساب وب مانی</a></li>
                        <li><a href="wm_buywith.html"><i class="far fa-credit-card"></i> خرید با وب مانی</a></li>
                        <li><a href="wm_sell.html"><i class="fas fa-shopping-cart"></i> فروش وب مانی</a></li>
                        <li><a href="wm_paymer_sell.html"><i class="fas fa-shopping-cart"></i> فروش پیمر وب مانی</a></li>
                        <li><a href="wm_create_acc.html"><i class="fas fa-file-medical"></i> افتتاح حساب وب مانی</a></li>
                    </ul>
                </ul>

                <ul class="hasUL">
                    <li><img src="images/icons/perfectmoney.png" class="menu-img" style="width:16px;"> خدمات پرفکت مانی <i class="fas fa-ellipsis-h"></i></li>
                    <ul>
                        <li><a href="pm_charge.html"><i class="far fa-credit-card"></i> شارژ حساب پرفکت مانی</a></li>
                        <li><a href="pm_voucher_buy.html"><i class="far fa-credit-card"></i> خرید ووچر پرفکت مانی</a></li>
                        <li><a href="pm_buywith.html"><i class="far fa-credit-card"></i> خرید با پرفکت مانی</a></li>
                        <li><a href="pm_sell.html"><i class="fas fa-shopping-cart"></i> فروش پرفکت مانی</a></li>
                        <li><a href="pm_voucher_sell.html"><i class="fas fa-shopping-cart"></i> فروش ووچر پرفکت مانی</a></li>
                        <li><a href="pm_create_acc.html"><i class="fas fa-file-medical"></i> افتتاح حساب پرفکت مانی</a></li>
                    </ul>
                </ul>

                <ul class="hasUL">
                    <li><img src="images/icons/support.png" class="menu-img"> پشتیبانی <i class="fas fa-ellipsis-h"></i></li>
                    <ul>
                        <li><a href="newticket.html"><i class="fas fa-plus"></i> ثبت تیکت جدید</a></li>
                        <li><a href="tickets.html"><i class="fas fa-list fa-rotate-180"></i> لیست درخواست ها</a></li>
                    </ul>
                </ul>

            </nav>
        </aside>

        <main class="container">

            <h5 class="alert red"> به این وبسایت خوش آمدید. </h5>

            <section class="header">
                <h3 class="title">پرفکت مانی</h3>
            </section>

            <section class="medium-info">
                <div class="item">
                    <h4 class="title"><i class="far fa-credit-card"></i> خرید با پرفکت مانی</h4>
                    <div class="content">
                        <form action="">
                            <span>
                                <label>مبلغ قابل پرداخت : </label>
                                <input type="text" style="text-align: center;" disabled>
                            </span>
                            <span>
                                <label for="product_price">قیمت محصول : </label>
                                <input type="text" id="product_price" name="product_price">
                            </span>
                            <span>
                                <label for="lastname">لینک محصول/سرویس : </label>
                                <input type="text" id="lastname" name="lastname" style="text-align: left;">
                            </span>
                            <span class="radio-input">
                                <label>حساب کاربری : </label>
                                <input type="radio" id="hasseccode_no" name="hasseccode" value="1" checked>
                                <label for="hasinfo_no">خیر</label>
                                <input type="radio" id="hasseccode_yes" name="hasseccode" value="2">
                                <label for="hasinfo_yes">بله</label>
                            </span>
                            <span>
                                <label for="username">نام کاربری : </label>
                                <input type="text" id="username" name="username" style="text-align: left;">
                            </span>
                            <span>
                                <label for="password">کلمه عبور : </label>
                                <input type="password" id="password" name="password" style="text-align: left;">
                            </span>
                            <span class="radio-input">
                                <label>توضیحات اضافه : </label>
                                <textarea></textarea>
                            </span>
                            <span>
                                <label for="file">فایل پیوست : </label>
                                <input type="file" id="file" name="file">
                            </span>
                            <div class="btns">
                                <button>ثبت درخواست</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="item last">
                    <h4 class="title"><i class="fas fa-exclamation-triangle"></i> نکات و هشدارها</h4>
                    <div class="content">
                        <p>
                            جهت استفاده از خدمات شارژ وب مانی، پیش از هر چیز می بایست نسبت به تایید هویت خود در پنل کاربری Pay98 اقدام کنید.
                            <br>
                            <br>
                            در صورت تمایل به ارسال وجه با کد امنیتی، گزینه «ارسال کد امنیتی همراه با تراکنش» را فعال کنید.
                            <br>
                            <br>
                            شماره کیف پول دلاری وب مانی با حرف Z آغاز می شود.
                            <br>
                            <br>
                            شماره کیف پول با ارز پایه روبل با حرف R آغاز می شود.
                            <br>
                            <br>
                            توصیه می کنیم پیش از ثبت سفارش، از اعتبار وبسایت مورد نظر اطمینان حاصل نمایید چرا که در صورت بروز نارضایتی یا عدم دریافت خدمات مطلوب از آن وبسایت، امکان درخواست بازگشت وجه وجود ندارد.
                            <br>
                            <br>
                            در صورتی که بنا به هر دلیلی از سوی فروشنده مبلغ سفارش شما بازگشت داده شود، مبلغ به ریال محاسبه و به حساب شما بازگشت داده خواهد شد.
                            <br>
                            <br>
                            Pay98 تنها در مورد پرداخت مبلغ سفارش مسئولیت دارد و وظیفه پیگیری های بعدی سفارش، برعهده شماست.
                            در صورتی که هزینه سفارش توسط Pay98 به وبسایت مورد نظر پرداخت شود اما بنا به دلایلی آن سفارش توسط فروشنده تایید نشود، بازگشت وجه به حساب شما تنها در صورتی امکان پذیر است که مبلغ سفارش توسط فروشنده به حساب Pay98 بازگشت داده شود.
                        </p>
                    </div>
                </div>
            </section>

        </main>

    </body>
</html>